/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );


@use 'vuetify/settings' with (
  $body-font-family: 'Poppins'
);

.v-date-picker-weekdays th {
  width: auto !important;
  white-space: nowrap;
  font-size: 12px !important;
}::v-deep(.v-date-picker-table) {
  flex-wrap: nowrap;
}::v-deep(.v-date-picker-header) {
  justify-content: space-between;
}